
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(1, 60, 72);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(4, 28, 33);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: lavender;
    font-size: 1.2rem;
}

.left {
    font-size: 2rem;
}

.One {
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}

.One>div {
    width: 30%;
}

.leftsection {
    font-size: 1.5rem;
}

.rightsection img {
    width: 100%;
    max-width: 100%;
    height: auto;
    
}

.purple {
    color: rgb(131, 184, 222);
}

#element {
    color: rgb(131, 184, 222);
}

.second {
    max-width: 80vw;
    margin: auto;
}
.container{
    padding-top: 150px;
}
h2{
    text-align: center;
    padding: 20px;
}
.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 250px;
}
@media screen and (max-width:480px) {

    .leftsection{
        font-size: 1rem;
    } 

    .left {
        font-size: 1rem;
    }

    nav ul li a:hover {
        color: lavender;
        font-size: 0.5rem;
    }
    nav {
     
        height: 70px;
     
    }
}
